@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
 
/*dropbox_use*/
@font-face {
	font-family: 'cwTeXHei';
	font-size: 100%;
	font-style: normal;
	font-weight:500;
	src: url('https://dl.dropboxusercontent.com/u/34021949/web/web_ok/font/cwTeXHei.ttf');
	
}
body {
	font-size:1em;
	background-color:#0d0d0d;
	font-family: "微軟正黑體", Arial;
	color:#e5e5e5;

}
.wap{
	display: block;
	padding:56px 0% 0 0%;
}
.top_wap{ clear:both;  width:100%; height:100%; background: url(../img/top.jpg) no-repeat top center; }
.top_wap img{}
.skill_wap{ width:100%;}
.skill_1, .skill_2, .skill_3, .skill_4{
	width:24%;
	font-size:100%;
	line-height: 110%;
	text-align:center;
	position: relative;
	min-height:200px;
	float:left;
	left:1%;
	display:table;
	margin:10% 0 10% 0;
}
.skill_1 ul, .skill_2 ul, .skill_3 ul, .skill_4 ul{
	vertical-align:middle;
	display:table-cell;

}



.top_wap, .about_wap, .portfolio_wap, .contact_wap { max-width:100%;}
.about_wap , .portfolio_wap { padding-top:58px;}
.contact_wap { padding-top:10px;}

.main_title:first-child{  margin-top: 0%;}
.main_title {
	width: 100%;
	font-size:120%;
	text-align:center;
	display: inline-block;
	font-family: 'cwTeXHei', sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	line-height: 300%;
	margin-bottom: 1%;
}
.main_title span {
	font-family: "微軟正黑體", Arial;
	color: #e5e5e5;
	padding-left: 1%;
}

.about_content, .contact_content, .portfolio_content {
	font-size:110%;
}

.about_content {
	text-align:left;
	padding:0 4% 0 4%;
	line-height: 140%;
}
.contact_content ,.contact_content a {	color: #A2A2A2;}
.contact_content {
	text-align:left;
	padding:0 4% 0 4%;
	font-size:100%;
	line-height: 200%;
}
.portfolio_wap { }
.portfolio_content {
	display:block;
	position:relative;
	width:100%;
	margin:0 auto;
}
.portfolio_content ul { width:100%;	text-align: center;}
.portfolio_content li{
	width:46%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
}
.portfolio_content li img {
	max-width:100%;
	border: 1px solid #CCC;
}
.portfolio{	width:100%; }
.portfolio_topic{ font-size:120%; display:block; text-align:center;}
.portfolio ul{ margin-left:2%; padding:2% 0 2% 0;}
.portfolio li {	width:32%;	display:inline-block;	line-height: 160%;}
.portfolio li a{	color: #333;	text-decoration: underline;}
.portfolio_banner{ width:100%; text-align:center; }
.portfolio_banner ul{ padding:2% 0 2% 0;}
.portfolio_banner li img { padding:1% 0 1% 0;	max-width:88%;}


.contact_content ul {
	width:100%;
	display:block;
	text-align: center;
	margin-bottom:2%;
}
.contact_content li{ display:inline-block; margin:0% 1% 0% 1%; }
.lineqr{ width:100%; text-align:center;}
.lineqr img{ width:15%;}

.portfolio_tt{ font-size:100%; text-align:center; margin:1% auto 2% auto;	color:#FFF;}

@media screen and (min-width: 1200px) {
/*如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS*/
}

@media screen and (min-width: 768px) and (max-width: 979px) {
/*如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 767px) {
/*如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 520px) {
	.col2 { max-width: 240px; }
    .skill_wap, .about_content { font-size:90%; }
}



