@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
 
/*dropbox_use*/
@font-face {
	font-family: 'cwTeXHei';
	font-size: 100%;
	font-style: normal;
	font-weight:500;
	src: url('https://dl.dropboxusercontent.com/u/34021949/web/web_ok/font/cwTeXHei.ttf');
	
}
body {
	font-size:1em;
	background-color:#161616;
	font-family: "微軟正黑體", Arial;
	color:#FFF;

}
.wap{
	display: block;
	padding:56px 0% 0 0%;
}
.top_wap{ clear:both;  width:100%; height:100%; background: url(../img/top.jpg) no-repeat top center; background-size:120%; padding:30% 0 20% 0;}
.top_wap img{}
.skill{
	font-size:120%;
	position:absolute;
	top:60px;
	left:1%;
	background:rgba(0%,0%,0%,0.7);
	line-height: 110%;
}
.skill ul{padding:10%;}
.skill li{ display:block;}

.top_wap, .about_wap, .portfolio_wap, .contact_wap { max-width:100%;}
.portfolio_wap { padding-top:58px;}
.contact_wap { padding-top:10px;}

.main_title:first-child{  margin-top: 0%;}
.main_title {
	width: 100%;
	font-size:160%;
	text-align:left;
	display: inline-block;
	font-family: 'cwTeXHei', sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 10px;
	padding-bottom: 2%;
	padding-left: 10px;
}
.main_title span {
	font-family: "微軟正黑體", Arial;
	color: #F09624;
	padding-left: 1%;
}

.about_content, .contact_content, .portfolio_content {
	font-size:110%;
}

.about_content {
	text-align:left;
	padding:0 4% 0 4%;
	line-height: 140%;
}
.contact_content ,.contact_content a {	color: #A2A2A2;}
.contact_content {
	text-align:left;
	padding:0 4% 0 4%;
	font-size:100%;
	line-height: 200%;
}
.portfolio_wap { }
.portfolio_content {
	display:block;
	position:relative;
	width:100%;
	margin:0 auto;
}
.portfolio_content ul { width:100%;	text-align: center;}
.portfolio_content li{
	width:46%;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
}
.portfolio_content li img {
	max-width:100%;
	border: 1px solid #CCC;
}
.portfolio{	width:100%; }
.portfolio_topic{ font-size:120%; display:block; text-align:center;}
.portfolio ul{ margin-left:2%; padding:2% 0 2% 0;}
.portfolio li {	width:32%;	display:inline-block;	line-height: 160%;}
.portfolio li a{	color: #333;	text-decoration: underline;}
.portfolio_banner{ width:100%; text-align:center; }
.portfolio_banner ul{ padding:2% 0 2% 0;}
.portfolio_banner li img { padding:1% 0 1% 0;	max-width:88%;}


.contact_content ul {
	width:100%;
	display:block;
	text-align: center;
	margin-bottom:2%;
}
.contact_content li{ display:inline-block; margin:0% 1% 0% 1%; }
.lineqr{ width:100%; text-align:center;}
.lineqr img{ width:15%;}

.portfolio_tt{ font-size:100%; text-align:center; margin:1% auto 2% auto;	color:#FFF;}

@media screen and (min-width: 1200px) {
/*如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS*/
}

@media screen and (min-width: 768px) and (max-width: 979px) {
/*如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 767px) {
/*如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 520px) {
	.col2 { max-width: 240px; }
    .skill, .about_content { font-size:90%; }
}



