@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
 
/*dropbox_use*/
@font-face {
	font-family: 'cwTeXHei';
	font-size: 100%;
	font-style: normal;
	font-weight:500;
	src: url('https://dl.dropboxusercontent.com/u/34021949/web/web_ok/font/cwTeXHei.ttf');
	
}
body {
	font-size:1em;
	background-color:#0d0d0d;
	font-family: "微軟正黑體", Arial;
	color:#e5e5e5;
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	background-size: cover;
}
.wap{
	display: block;
	padding:56px 0% 0 0%;
}
.top_wap{ clear:both;  width:100%; height:100%; background: url(../img/top.jpg) no-repeat top center; }
.top_wap img{}
.skill_wap{ width:90%; margin:0 auto;}
.skill_wap h1{
	font-size:100%;
	line-height: 180%;
}
.skill_1, .skill_2, .skill_3, .skill_4{
	width:24%;
	font-size:100%;
	line-height: 110%;
	text-align:center;
	position: relative;
	min-height:200px;
	float:left;
	left:1%;
	display:table;
	margin:10% 0 2% 0;
}
.skill_1 ul, .skill_2 ul, .skill_3 ul, .skill_4 ul{
	display:table-cell;
	vertical-align:top;

}
.skill_1 li, .skill_2 li, .skill_3 li, .skill_4 li{
	display:block;
	line-height: 160%;
	color: #999;
}

.top_wap, .about_wap, .portfolio_wap, .portfolio_wap2, .contact_wap { max-width:100%; clear:both;}
.about_wap , .portfolio_wap { padding-top:58px;}
.contact_wap {
	padding-top:10px;
	background-color:
	rgba(255, 255, 255,1);
	display:table;
	width:100%;
	color:#000!important;
}

.skill_title {
	width: 100%;
	font-size:120%;
	text-align:center;
	display: inline-block;
	font-family: 'cwTeXHei', sans-serif;
	position:absolute;
	margin-top:6%;
}
.main_title_noline{
	border-bottom-width: 1px;
	border-bottom-style: none!important;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: none!important;
	border-top-color: #333;
}
.main_title:first-child{  margin-top: 0%;}
.main_title {
	width: 100%;
	font-size:200%;
	text-align:center;
	font-family: 'cwTeXHei', sans-serif;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	line-height: 300%;
	margin:0 auto 2% auto;
}
.main_title span {
	font-family: "微軟正黑體", Arial;
	color: #e5e5e5;
	padding-left: 1%;
}

.about_content, .contact_content, .portfolio_content {
	font-size:100%;
}
.about_content{ 
	text-align:left;
	line-height: 200%;

	margin: 6% 10% 6% 10%;
	padding:10%;
	background-color:rgba(0,0,0,0.3);
}
.contact_content ,.contact_content a {
	color: #333;
}
.contact_content {
	text-align:left;
	padding:0 4% 0 4%;
	font-size:100%;
	line-height: 200%;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
.portfolio_wap {}
.portfolio_content1 {
	display:block;
	position:relative;
	width:95%;
	margin:0 auto;
}
.portfolio_content2 {
	display:block;
	position:relative;
	width:85%;
	margin:0 auto;
}


.portfolio{	width:100%; }
.portfolio_topic{ font-size:120%; display:block; text-align:center;}
.portfolio ul{ margin-left:2%; padding:2% 0 2% 0;}
.portfolio li {	width:32%;	display:inline-block;	line-height: 160%;}
.portfolio li a{	color: #333;	text-decoration: underline;}
.portfolio_banner{ width:100%; text-align:center; }
.portfolio_banner ul{ padding:2% 0 2% 0;}
.portfolio_banner li img { padding:1% 0 1% 0;	max-width:88%;}


.contact_content ul {
	width:90%;
	display:block;
	text-align: left;
	margin-bottom:2%;
	margin:0 auto;	
}
.contact_content li{ width:48%; display:inline-block; margin:0% 1% 10% 1%;float:left; }
.lineqr{ width:100%; text-align:center; clear:both; padding:4% 0 4% 0;}
.lineqr img{ width:15%;}

.portfolio_tt{ font-size:90%; text-align:center; margin:4% auto 2% auto; color:#e5e5e5;}

@media screen and (min-width: 1200px) {
/*如果使用者之視窗寬度 >= 1200px，將會再載入這裡的 CSS*/
}

@media screen and (min-width: 768px) and (max-width: 979px) {
/*如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 980px) {
/*如果使用者之視窗寬度 <= 980px，將會再載入這裡的 CSS*/
.lineqr{ display:none;}
}
@media screen and (max-width: 767px) {
/*如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS*/
}

@media screen and (max-width: 580px) {

.skill_wap, .about_content { font-size:90%; }
.skill_1, .skill_2, .skill_3, .skill_4{
	width:48%;
	font-size:100%;
	line-height: 110%;
	text-align:center;
	position: relative;
	min-height:220px;
	float:left;
	left:1%;
	display:table;
}
.portfolio_content2 {
	display:block;
	position:relative;
	width:100%;
	margin:0 auto;

}
}
