@charset 'utf-8';

/**** IMPORTANT THESE ARE NEEDED ****/
	#container {
	  float:none;
	  padding: 0;
	  margin:0 auto;
	  margin-bottom:30px;
	  /* optional */
/*	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;*/
	  /* content-box is NEEDED. if border-box is enabled
	     then it when Masonry calculates the height and width
		 of the container it counts incorrectly and the result
		 images running to the edge of the container on the right
		 and bottom sides. Only apply content-box to the container. */
	  -webkit-box-sizing:content-box;
	  -moz-box-sizing:content-box;
	  box-sizing:content-box;
	}
	#container a img:hover{
	box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
	-ms-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
	}

/*	spacing between the images*/
	.box {
	  margin: 2px;
	  margin-bottom:16px;
	  float: left;
	  /* optional */
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	}
	.box img, { display: block; width: 100%; }

	/* unfortunately masonry needs hard pxs for images */
	.col1 { width: 80px; }
	.col2 { width: 240px; padding:6px; }
	.col3 { width: 19%; padding:4px;}
	.col1 img { max-width: 80px; }
	.col2 img { max-width: 100%; }
	.col3 img { max-width: 100%; }

	/* animations for the transition/reordering */
	.transitions-enabled.masonry,
	.transitions-enabled.masonry .masonry-brick {
	  -webkit-transition-duration: 0.7s;
	  -moz-transition-duration: 0.7s;
	  -ms-transition-duration: 0.7s;
	  -o-transition-duration: 0.7s;
	  transition-duration: 0.7s;
	}
	.transitions-enabled.masonry {
	  -webkit-transition-property: height, width;
	  -moz-transition-property: height, width;
	  -ms-transition-property: height, width;
	  -o-transition-property: height, width;
	  transition-property: height, width;
	}
	.transitions-enabled.masonry  .masonry-brick {
	  -webkit-transition-property: left, right, top;
	  -moz-transition-property: left, right, top;
	  -ms-transition-property: left, right, top;
	  -o-transition-property: left, right, top;
	  transition-property: left, right, top;
	}


/**** Clearfix ****/
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }

@media screen and (max-width: 830px) {

.col3 { width: 32%;}
}
@media screen and (max-width: 580px) {
.col3 { width: 48%;}
.col3 img { max-width: 100%; padding:8px;}
.portfolio_content1 {
	width:100%;
}
}